[% USE Koha %]
[% USE Branches %]

<title>[% title %]</title>

<table class="table">
	<thead>
		<tr>
			<th>cardnumber</th>
			<th>surname</th>
			<th>email</th>
			<th>phone</th>
		</tr>
	</thead>
	<tbody>
		[% FOREACH x IN results %]
		<tr>
			<td>[% x.cardnumber %]</td>
			<td>[% x.surname %]</td>
			<td>[% x.email %]</td>
			<td>[% x.phone %]</td>
		</tr>
		[% END %]
	</tbody>
</table>

<center>
 <form action="/cgi-bin/koha/pdf.pl">
 <input type="submit" value="Print as pdf" class="btn" />
